[2022-06-01 15:16] FlorentLvr opened #1058 "YouTube - Add video to get token and setup templates"
Create video to get Token
Add link URL to templates in YouTube folder

[2022-06-01 17:23] jravenel opened #1059 "Slack procedure is not available on doc"
I used this template: https://github.com/jupyter-naas/awesome-notebooks/blob/master/Slack/Slack_Send_message.ipynb

And when I click on the link it redirect to this page
https://docs.naas.ai/drivers/automation/slack

So I cannot know how to access my slack token.

[2022-06-02 07:03] #1028 closed

[2022-06-02 15:40] Dr0p42 opened #1062 "YouTube - Create a video explaining how to get an API key"
The goal is to have a youtube link that we can add in YouTube template to make it easy to use them.

---

I created this video 👉 https://www.youtube.com/watch?v=ltdJOX_DVtE

Please do provide feedbacks, first time doing a video like that 🙏

[2022-06-06 10:13] SanjuEpic opened #1063 "GitHub - Get list of most starred repositories"
**Input**

  - Github token

**Model**

 - Function for fetching the number of repositories with a threshold of given stars

**Output**

- Returns a data frame.
- Bar plot for repository vs stars

[2022-06-06 10:34] SanjuEpic opened #1065 "Reformatting some of github notebook templates"
This issue has been created in view of keeping the notebook templates in a clean and goof format, i.e by removing unnecessary imports, and variables for a particular notebook template.

[2022-06-06 11:13] SanjuEpic opened #1066 "Github - Get issues from repo rework"
The current code fetches us only upto 100 issues at max for a given repo_url. whereas in reality we have around 500+ issues for awesome notebooks repo.

Fix for this will updated in 2 issues:
1. Removing unwanted imports, variables, and updated low code driver code in awesome notebooks repo
2. Driver code for github.py on the drivers repo will also be updated.

[2022-06-06 15:15] Dr0p42 opened #1067 "Make sure conversion from awesome-notebooks to git books works for all cases"

[2022-06-06 21:58] jravenel commented on #1066
OK @SanjuEpic when do you think you can propose PR on this?

[2022-06-06 22:08] #450 closed

[2022-06-07 04:27] SanjuEpic commented on #1066
Soon will be working on it

[2022-06-07 07:41] SanjuEpic commented on #1066
Driver code fix done
Once it is done, the notebook template will work like charm for any number of issues

Thanks!

[2022-06-07 10:52] jravenel commented on #261
Moving it back to backlog @Gaurav1401 let us know when you are back.

[2022-06-07 11:52] SanjuEpic commented on #424
👍

[2022-06-07 13:13] Dr0p42 opened #1071 "YouTube - Send YouTube video stats to Notion"

[2022-06-07 13:43] #1058 closed

[2022-06-08 08:54] #1071 closed

[2022-06-08 12:03] Dr0p42 opened #1073 "Twitter - Send post stats to Notion"

[2022-06-08 15:40] MinuraPunchihewa commented on #987
@Valpiquard I will take up this issue. I will look at working on the other sendinblue issues as well.

[2022-06-09 11:25] Dr0p42 opened #1076 "TikTok - Send video stats to Notion"

[2022-06-09 15:13] jravenel commented on #1028
Video link : https://www.youtube.com/watch?v=ltdJOX_DVtE

[2022-06-09 15:32] #1065 closed

[2022-06-09 15:55] jravenel opened #1077 "LinkedIn - Follow content views from company page"
**Describe the problem you are facing**
As a company page admin, I want to follow the view related to the content posted.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Input
data frame from the content posted
- Model
create a barlinechart to follow evolution of content views
- Output
CSV
HTML
PNG

+ I want to be able to put my logo and color s

[2022-06-10 07:05] jk opened #1078 "Stop inviting me to jupyter-naas org"
@FlorentLvr Stop spaming me with invitations to jupyter-naas org every other week. I will not join even if you send more invitations 😠

<img width="277" alt="2022-06-10 at 09 06 14@2x" src="https://user-images.githubusercontent.com/40043/173009764-ea76b78c-5db8-444e-a8bc-c5a2718ead37.png">

[2022-06-10 07:47] FlorentLvr commented on #1078
@jk , sorry for that, it's done now! 🙏
It seems someone enter your GitHub account in our contributor's program.
I removed it.
Have a good day

[2022-06-10 07:47] #1078 closed

[2022-06-11 06:37] jravenel opened #1079 "LeFigaro Immobilier - House price analysis"
**Describe the problem you are facing**
As a investor I want to know what is the most interesting investment to be made by number of rooms in a particular area.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Input
Give URL from LeFigaro Immobilier

- Model
Scrap data

- Output
Create graph

**Additional context**
It might be useful to get an em

[2022-06-11 07:19] MinuraPunchihewa opened #1081 "PyCaret - Perform Classification with AutoML"
**Describe the problem you are facing**
When working on a Data Science (classification) project, I need to develop a number of models using a variety of classification algorithms, evaluate them and choose the best one. When new data comes in, I need to re-train my model. Each time a new model is trained, I will need to deploy it (by saving it as pickle file, writing it out to a Dockerfile etc.). T

[2022-06-11 07:23] MinuraPunchihewa opened #1082 "PyCaret - Perform Regression with AutoML"
**Describe the problem you are facing**
When working on a Data Science (regression) project, I need to develop a number of models using a variety of regression algorithms, evaluate them and choose the best one. When new data comes in, I need to re-train my model. Each time a new model is trained, I will need to deploy it (by saving it as pickle file, writing it out to a Dockerfile etc.). This can

[2022-06-11 09:38] #1077 closed

[2022-06-11 09:49] #1063 closed

[2022-06-11 09:58] #431 closed

[2022-06-11 16:35] jravenel opened #1085 "Streamlit "Create prediction app" template not working"
**Describe the bug**
There was an error at import that I fixed. But still ngrok module don't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '# Streamlit - Create prediction app"
2. Click on 'run
3. Scroll down to the end
4. See error

**Expected behavior*
Should open a new page with streamlit app

**Screenshots**
<img width="856" alt="Screenshot 2022-06-11 at 18 31 50" src="http

[2022-06-11 16:36] jravenel commented on #1085
@Dr0p42 → making this issues to pass the CI 🤗

[2022-06-13 07:31] FlorentLvr opened #1086 "LinkedIn - Get age and gender from profile picture"
This notebook estimates a person's age and gender based on their LinkedIn profile picture.

Reference :

*Karkkainen, K., & Joo, J. (2021).*
FairFace: Face Attribute Dataset for Balanced Race, Gender, and Age for Bias Measurement and Mitigation.
In Proceedings of the IEEE/CVF Winter Conference on Applications of Computer Vision (pp. 1548-1558).

The paper and all other corresponding information ca

[2022-06-13 12:16] #1086 closed

[2022-06-13 16:16] ja-williams opened #1088 "Draft Kings - Get MLB Money Lines"
**Find the Moneyline Odds for Baseball Games**
I like to see the betting odds on the different MLB baseball games happening each day, but it is annoying having to log into Draft Kings and find the odds multiple times a day.

**Describe the solution you'd like**
I would like to make a notebook that automatically emails me the betting lines of all MLB games each day.

- Input
- Model
- Output

**Add

[2022-06-13 20:04] njgroene opened #1089 "LinkedIn - Get age and gender from profile picture"
The template currently performs age/gender classification on the first face it finds in the input image.
In order for it to run reliably, the following input check should be performed:

- If the input profile image doesn't contain _exactly_ one face, throw an exception and terminate gracefully.

[2022-06-14 11:25] #1089 closed

[2022-06-17 08:00] njgroene opened #1092 "Hugging Face - Naas drivers integration, driver generates error"
**Despite successful import of drivers, all HuggingFace examples generate the following error**
TypeError: can only concatenate tuple (not "type") to tuple

**To Reproduce**
Steps to reproduce the behaviour:
1. run imports
2. run any of the examples provided in the template
3. See error : TypeError: can only concatenate tuple (not "type") to tuple

[2022-06-17 08:28] njgroene commented on #1092
This was merely a version issue, works correctly under naas v2.4.10

[2022-06-17 15:36] njgroene opened #1093 "LinkedIn - Get sentiment analysis for all comments on a post"
**Problem**
I would like to be able to automatically determine if comments on my LinkedIn posts are positive or negative. This could help me perform follow-ups with people who have left less positive comments, and automatically monitor interactions over time.

**Solution**
Get all comments from a particular post using the LinkedIn driver, perform sentiment analysis on the comments, and enrich the

[2022-06-17 15:37] njgroene commented on #1093
I've assigned myself, but feel free to close the issue if this isn't an interesting addition!

[2022-06-20 07:35] #1093 closed

[2022-06-20 10:15] Dr0p42 opened #1096 "Instagram - Get post stats"
To get long live token we need to create an API Auth that could be generic to Facebook and Insta.

[2022-06-22 14:59] MinuraPunchihewa commented on #987
@Valpiquard Is the pull request that I opened being reviewed? I already worked on this issue.

[2022-06-24 04:42] #1088 closed

[2022-06-30 10:35] FlorentLvr opened #1098 "Naas - Download Content Engine"
Create a content engine that will aggregate data from social media platforms into a Notion page.

[2022-06-30 14:11] FlorentLvr opened #1099 "LinkedIn - Follow monthly stats from posts"
Metrics:
Views
Likes
Comments
Engagements
Engagement rate

[2022-06-30 15:45] #1099 closed

[2022-06-30 20:08] #987 closed

[2022-06-30 20:08] #1073 closed

[2022-06-30 20:16] FlorentLvr opened #1101 "LinkedIn - Get posts world cloud"

[2022-06-30 20:17] FlorentLvr opened #1102 "LinkedIn - Get posts views heatmap"

[2022-06-30 20:18] FlorentLvr opened #1103 "LinkedIn - Get engagements from posts"

[2022-06-30 20:43] #1101 closed

[2022-06-30 20:50] #1081 closed

[2022-06-30 20:50] #1082 closed

[2022-07-02 10:11] FlorentLvr opened #1105 "LinkedIn - Send invitations to events from post engagements"

[2022-07-07 12:59] Asif1310 opened #1108 "LinkedIn - Send follower demographics to a google sheet"
**Describe the problem you are facing**

I would like to be able to perform a demographic analysis of my followers which helps me optimize my content to their needs and interests.

**Describe the solution you'd like**
For each follower, I would need the following data:
Their country
Name of the company they are working at
The industry they are associated with

- Input: LinkedIn cookies
- Model: Fe

[2022-07-08 10:44] #977 closed

[2022-07-08 10:44] #973 closed

[2022-07-08 10:54] #161 closed

[2022-07-08 10:54] #1105 closed

[2022-07-08 11:24] #1079 closed

[2022-07-08 11:29] FlorentLvr commented on #1108
Hi @Asif1310 ! Just saw your post on LinkedIn about it! Glad you can share it with us :)

[2022-07-08 11:31] #1062 closed

[2022-07-08 11:31] #1022 closed

[2022-07-08 11:32] #1021 closed

[2022-07-09 05:09] MinuraPunchihewa commented on #985
@Valpiquard @FlorentLvr May I please know how 'undelivered' emails are different to 'bounced' emails?

Getting the number of 'undelivered' emails has been addressed here,
https://github.com/jupyter-naas/awesome-notebooks/issues/987

If there is in fact a difference, please point out the attribute that will contain this information. Here is a link to the API documentation,
https://developers.sendin

[2022-07-09 07:18] Asif1310 opened #1114 "LinkedIn - Send invitations to post commenters template is sending invitations even to the profiles already connected."
**Describe the bug**
.Send invitations to post commenters template of LinkedIn is sending invitations to all the profiles that commented, even if those profiles are already connected or if it is the user's own profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Input the Li cookies and post URL, and run the template
2. Go to 'My network' on LinkedIn.
3. Click on '.Manage'
4. You could s

[2022-07-09 08:19] MinuraPunchihewa commented on #941
@FlorentLvr I am interested in taking this up, but do you have any idea on how this can be achieved?
This is something that Zapier supports, but I believe that is not really an option.

[2022-07-11 07:23] #1108 closed

[2022-07-11 07:32] #982 closed

[2022-07-11 07:35] #984 closed

[2022-07-11 07:39] #986 closed

[2022-07-11 07:49] FlorentLvr commented on #1114
@Asif1310 , TY to let us about this issue.
I noticed it as well and the only solution is to make sure you send invitations to people not in your connections already. To do that you have 2 options:
 - If you want to check by profile, you can use linkedin.profile.get_network(). It will return a dataframe with the distance and then you create a condition to send or not
- The other option will be to g

[2022-07-12 16:10] FlorentLvr opened #1116 "Notion - Add image to page"

[2022-07-12 16:23] #1116 closed

[2022-07-13 17:16] FlorentLvr opened #1118 "SharePoint - List folder / Get file / Upload file"

[2022-07-13 17:40] #1118 closed

[2022-07-17 13:59] jravenel opened #1120 "Create dags(network) graph from GitHub Repo or local folder"
https://wimyedema.medium.com/drawing-dags-5cadcb452115
The idea is to provide like DBT a network graph where we see all the dependencies

https://wimyedema.medium.com/drawing-dags-5cadcb452115

This will enable better documentation and transparency over what's going on in a data product.

[2022-07-17 15:22] jravenel opened #1122 "Snowflake - Demo drivers in a template"
Following the work done on Snowflake by Mateus, we need to showcase it and create content via a template.

Ref: https://github.com/jupyter-naas/drivers/issues/274

[2022-07-17 15:24] jravenel commented on #1122
@mckraqs can we work on this together? I would like too understand and document it in docs.naas.ai

@chicken-biryani will help me out as well.

[2022-07-18 07:35] #1114 closed

[2022-07-19 11:10] mckraqs commented on #1122
Sure, I can take care of it in the following days. Do you need any specific use case, or should it be just overall step-by-step guide, e.g., similar to Notion notebooks?

[2022-07-19 13:02] jravenel commented on #1122
We can make it more specific during a quick scoping call if you want @mckraqs I sent you link in private

[2022-07-25 12:40] jravenel commented on #1098
This will hopefully we can start user testing.

[2022-07-25 12:41] jravenel commented on #995
@Dr0p42 @FlorentLvr need to validate tests + code modification.

[2022-07-25 12:42] jravenel commented on #1102
To be published this week at the template is already in the content-engine repo.

[2022-07-25 12:43] jravenel commented on #1103
Will be published soon from the content-engine repo.

[2022-07-25 12:56] jravenel commented on #1122
We just talked about this during the product roadmap today @mckraqs, let's build this use case together with 2 templates:
- one to send data to snowflake
- one to get data from snowflake and use naas notification to update the end user.

[2022-07-27 08:50] FlorentLvr commented on #1098
@jravenel , the notebook is ready to review. It should clone or pull the naas content engine on your naas. You can test the process with LinkedIn and YouTube. Could you please have a look?

[2022-07-27 20:27] jravenel opened #1125 "Pyvis - Create a network visualization"
**Describe the problem you are facing**
I want to create a network graph to visualize the relations between different notebooks.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Input
data frame
- Model
create links between the different nodes
- Output
generate a shareable asset with naas.

[2022-07-27 21:01] #1125 closed

[2022-07-30 17:19] cholu6768 commented on #1120
This is the one I would like to collaborate in but from which repo do you need help with?

[2022-07-31 20:19] jravenel opened #1127 "Dash - Deploy app using Naas"
This issue is linked to https://github.com/jupyter-naas/naas/issues/327

The objective is to do an example of how to deploy dash app using Naas proxy

[2022-07-31 20:31] jravenel commented on #1085
@Dr0p42  I tried the template again but it's not working → [Errno 13] Permission denied: '/opt/conda/lib/python3.9/site-packages/pyngrok/bin'

[2022-08-01 12:22] Dr0p42 commented on #995
I just published a new version of the extension to fix a "bug" where you had to log out and log back in Linkedin to have it working. Now as soon as you provide a naas token, it will send your Linkedin cookies.

Waiting for Google Extension approval. It should be quick

[2022-08-01 12:32] jravenel commented on #1120
Hey @cholu6768 I'm pushing this to ready as discussed, we need to make sure this is inspired by the current template: https://github.com/jupyter-naas/awesome-notebooks/issues/1125

and take as input a folder where the function is going to look for dependencies and generate the network graph.

[2022-08-01 15:31] #1085 closed

[2022-08-01 15:46] jravenel opened #1129 "Deploy app in Naas - add awesome layout boilerplate"
We would like to enhance with :
- a nav bar on top with selector (perimeter, time)
- a layout with proper sizing of 4 elements (in square) and dynamic filtering
- a footer

[2022-08-01 15:47] jravenel commented on #1129
@eliasdabbas do you think we can plan a peer programming session with the team to do that? 1h?

[2022-08-01 15:49] #1127 closed

[2022-08-02 08:19] FlorentLvr commented on #995
Amazing! Let me know when it's done! Can you create a video as well to show us the process? TY 🙏

[2022-08-02 09:17] FlorentLvr commented on #1098
@jravenel, the template is now only doing the installation of the project on your naas. Could you please check if it's good for you?

[2022-08-02 13:57] #1098 closed

[2022-08-02 16:14] jravenel opened #1280 "Naas Dashboards - Web Analytics"
As discussed @techgoddess1, here is the good first issue for you on the cyber security dashboard.
The objective is to review the notebook structure/outline first. We will do other issues for what comes next (coding the components)

It should follow the template example : https://github.com/jupyter-naas/awesome-notebooks/blob/master/Dash/Dash_Deploy_app_in_Naas.ipynb

But things should be a bit mor

[2022-08-04 11:11] #1103 closed

[2022-08-04 12:10] #1102 closed

[2022-08-04 12:52] FlorentLvr opened #1134 "Ipywidgets - Create a custom button"

[2022-08-04 12:55] FlorentLvr opened #1135 "Ipywidgets - Create a input text box and button"

[2022-08-04 12:58] FlorentLvr opened #1136 "Ipywidget - Setup naas secret"
Ipywidget demo to setup naas secret.

-> Display textbox and save button
-> On click -> save secret and display result

[2022-08-04 13:30] #1136 closed

[2022-08-05 15:26] #1134 closed

[2022-08-05 15:41] #1135 closed

[2022-08-06 19:58] mckraqs commented on #1122
I revamped Snowflake directory a little - added 2 datasets (`csv` and `json` formats) and 4 new Jupyter templates.

So far I focused on basic usage and data ingestion from local/cloud. Please let me know if something is unclear @jravenel so we can schedule a call and walk through the issues.

In terms of the second template you mentioned (naas notifications) - what do you think about moving it to

[2022-08-08 09:54] Dr0p42 commented on #995
v1.2 is available for everyone 👏 https://chrome.google.com/webstore/detail/naas/cpkgfedlkfiknjpkmhcglmjiefnechpp?hl=fr&authuser=0

@FlorentLvr @jravenel

[2022-08-08 12:06] jravenel commented on #1127
We had a bit of issues installing but. this command should do the job
`!pip install --user dash dash-html-components dash-core-components plotly`

Thanks @Dr0p42

[2022-08-08 12:30] jravenel commented on #995
I will test.

[2022-08-08 16:33] #995 closed

[2022-08-08 17:33] MinuraPunchihewa opened #1140 "BigQuery Connector"
Similar to the Snowflake templates, I thought it would be useful to create a few templates to work easily with Google BigQuery, especially since @jravenel mentioned an interest in integrating different data warehousing solutions.

[2022-08-15 12:34] jravenel opened #1290 "Jobs Market Analysis - Dashboard"

[2022-08-15 19:15] jravenel opened #1142 "Dash - Display app in the notebook"
As discussed with Maxime today, we can already do a template using the reasoning behind :
https://github.com/jupyter-naas/naas/issues/333

[2022-08-15 19:57] #1142 closed

[2022-08-17 09:36] FlorentLvr opened #1146 "Plotly Dash - Create Navbar"

[2022-08-22 08:04] #1146 closed

[2022-08-22 12:47] FlorentLvr opened #1148 "Dash - Can not reload Jupyter Dash once it is displayed in "inline" mode"

[2022-08-22 12:48] FlorentLvr commented on #1148
Here is the error @Dr0p42

![image](https://user-images.githubusercontent.com/48032461/185924792-2fc85280-4bb7-4a1e-84da-f742d90a9ff8.png)

Is there a way to kill the port we are using?

[2022-08-25 11:57] FlorentLvr opened #1149 "Dash - Create table and dropdown with callbacks"

[2022-08-26 06:55] jravenel commented on #1129
Closed by https://github.com/jupyter-naas/awesome-notebooks/blob/master/Dash/Dash_Deploy_app_in_Naas.ipynb

[2022-08-26 06:55] #1129 closed

[2022-08-26 07:25] #1122 closed

[2022-08-26 08:52] jravenel opened #1150 "Abstractapi - Get IP geolocation"
**Describe the problem you are facing**
Abstractapi provide a free plan giving access to 1 request per second, paid plans give access to 10 requests per second or more.

**Describe the solution you'd like**
We are looking for a solution that will allow us to maximize the number of requests we can serve per second.

- Input :
IP_DATASET = a pandas dataframe containing a list of IP addresses (IP_ADD

[2022-08-26 08:54] jravenel commented on #1150
@Dr0p42 let's play :)

[2022-08-26 10:48] jravenel commented on #1150
@Vaib22 adding you as reviewer.

[2022-08-26 10:49] #1149 closed

[2022-08-26 16:21] FlorentLvr opened #1152 "LinkedIn - Withdraw pending invitation sent"
Withdraw pending invitation sent to profile that exceed a limit in month.
-> LinkedIn won't let you invite those profiles during the 3 weeks
-> You will have another shoot after this time to try again :)

[2022-08-26 16:24] FlorentLvr opened #1153 "LinkedIn - Add extension doc + legal in awesome-notebooks"
Proposal to applied in each notebook using naas_drivers.linkedin:

SETUP LINKEDIN:

If you are using the Chrome Extension:

- [Install Naas Chrome Extension](https://chrome.google.com/webstore/detail/naas/cpkgfedlkfiknjpkmhcglmjiefnechpp?hl=fr&authuser=0)
- [Create a new token](https://app.naas.ai/hub/token)
- Copy/Paste your token in your extension
- Login/Logout your LinkedIn account
- Your secr

[2022-08-26 16:29] FlorentLvr opened #1154 "GitHub - Create newsletter based on repository activity"
Create a weekly newsletter based on activity

INPUT
repo_url
email receivers

MODEL
No of issues / var
No PR/var
HTML email

OUTPUT
Send email

[2022-08-26 16:31] FlorentLvr commented on #1148
@Dr0p42 , I tried to run your notebook "getstarted" but it is still not working. I have to re-run my entire notebook to display again the dashboard. Let me know if you have any idea to fix this

[2022-08-26 16:35] FlorentLvr opened #1155 "Dash - Add dashboard boiler plate with 1 navbar, 2 dropdowns, 4 cards, 4 charts"
Add Linkedin post metrics boiler plate to awesome-notebooks

[2022-08-26 16:37] FlorentLvr opened #1156 "Pandas - Pivot columns to rows to create table"
Example to pivot columns to rows using pandas.pivot

[2022-08-26 16:44] FlorentLvr opened #1157 "Dash - Deploy add to production using (Knative)"
INPUT:
Notebook path
Dependencies
Target URL

MODEL:
Deploy app

OUTPUT:
Target URL

[2022-08-28 10:53] jravenel commented on #1157
After discussion with @Dr0p42, this template is a way to show how a naas_drivers.dash.deploy works.
Here is the target formula:

`naas_drivers.dash.deploy(path, dependencies, name, requirements, users)`

`path` is the path to the notebook file hosting the code of the dashboard

`dependencies` are the list of files required by the notebook to run the dashboard

`name` is the target value showed in

[2022-08-29 14:12] jravenel opened #1159 "Dash - Create Datatable With Dropdown"
Just a little improvement to the original work done.
When the result is displayed it would be cool to have :

1/  the full table
using #h1 - "Full ta

[2022-08-30 10:26] jravenel opened #1160 "Vizzu - Create interactive story"
Use https://vizzuhq.github.io/ipyvizzu-story/examples/demo/ipyvizzu-story_example.html

to create an awesome-notebooks template.
Following discussion with [Peter Vidos](https://www.linkedin.com/in/ACoAAALjHh0Bwvr-fukGkP_zEzamaCtZ3EhzSLE/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BOvyXiyV0TICpZdTWUM0AYQ%3D%3D) on LinkedIn.

Peter mentioned we can get review from the tech team:
@simzer @

[2022-08-30 10:51] jravenel commented on #1160
@Dr0p42 it seems I cannot install because of pip version issues.
Should I open a PR to upgrade pip on naas? It seems I cannot do that from my machine
<img width="1189" alt="Screenshot 2022-08-30 at 12 50 31" src="https://user-images.githubusercontent.com/21052349/187418347-9fca74f6-8240-4800-9008-380467a5b9f0.png">

[2022-08-30 11:04] veghdev commented on #1160
@jravenel Hi, please use `!pip install ipyvizzu-story`, for more info, check our installation [guide](https://vizzuhq.github.io/ipyvizzu-story/docs/installation.html)

[2022-08-30 11:45] jravenel commented on #1160
Seems it does not work for me on my naas server, I have `/bin/bash: pip: command not found` error.
I will check internally @veghdev

[2022-09-05 09:17] jravenel opened #1162 "this is a task"
oqskodfkfdf

[2022-09-05 12:52] jravenel commented on #1155
@FlorentLvr need to change input before putting it to review in awesome-notebooks

[2022-09-05 17:25] FlorentLvr commented on #1153
@jravenel , could you please validate the proposal is ok for you.
Then, I will proceed to update all notebooks using LinkedIn.

[2022-09-06 06:55] #1155 closed

[2022-09-06 21:03] muhtalhakhan opened #1164 "Hugging Face - Naas drivers integration"
**Describe the bug**
When I tried to run the template of it comes out with a TYPE ERROR.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Text Generation'
2. Click on 'Run this cell'
3. Scroll down to 'Output'
4. See error : TypeError: can only concatenate tuple (not "type") to tuple

**Expected behavior**
Expected behavior should be that it would run like the other templates.

**Scree

[2022-09-08 07:55] FlorentLvr opened #1167 "Faker - Fake dataframe with random names"
In order to quickly anonymize personal names, I found this library that help me a lot.

References:
- https://towardsdatascience.com/how-to-quickly-anonymize-personal-names-in-python-6e78115a125b
- https://pypi.org/project/Faker/

---

INPUT
- Dataframe
- Column to be anonymize

MODEL
- Anonymize column using faker

OUTPUT
- Display result

[2022-09-09 08:37] #1156 closed

[2022-09-09 08:50] #1150 closed

[2022-09-09 12:43] #1140 closed

[2022-09-09 14:23] #1167 closed

[2022-09-12 07:46] FlorentLvr opened #1169 "Create Naas Dashboard folder and migrate all the notebooks from summer-dashboarding into it."

[2022-09-12 08:29] #1169 closed

[2022-09-12 15:32] FlorentLvr opened #1171 "BigQuery - Update templates with import naas_drivers"
Update BigQuery templates using naas_drivers + Add setup videos

[2022-09-15 13:17] jravenel opened #1172 "DVC - Version data from notebook"
**Describe the problem you are facing**
As a financial market investor, I get data from Yahoo Finance for a specific ticket (TSLA) and run basic ML models (ARIMA, SVR...).
But I'm not able to analyze the results of the models over time.

**Describe the solution you'd like**
I would like to be able to version/snapshot a CSV file with the data each time the script is triggered by naas.scheduler (eve

[2022-09-15 16:06] FlorentLvr opened #1173 "Dash - Create Navbar Search"
Create your Navbar search like Google using Dash App.

[2022-09-15 16:17] #1173 closed

[2022-09-19 08:32] FlorentLvr opened #1175 "Dash - Create search bar with options"
Create search bar (input box) with options to improve user experience

Reference: https://community.plotly.com/t/datalists-and-input/6040/7

[2022-09-19 12:20] jravenel commented on #1157
@FlorentLvr as discussed, we can close this by creating a template that will prepare the instructions to be runned in the backend (manually so far by core team).

List of items:
- endpoint
- file to run
- repo to clone

[2022-09-19 12:25] jravenel commented on #1171
@MinuraPunchihewa we just talked about this during the product roadmap today, is there any way we can help you on this?
Let us know so we can more things further with BigQuery, and communicate :)

[2022-09-19 12:36] jravenel opened #1176 "Create a list of issues for Hacktoberfest for Python/Pandas."
Just created

[2022-09-19 12:44] jravenel commented on #1176
Just created a form to share it on socials: https://docs.google.com/forms/d/e/1FAIpQLSdvCbbZvSENjeX70st7xYNsaabt8i_J-B6Pz36N-ZD5A6PiRg/viewform

[2022-09-19 13:56] chicken-biryani commented on #1176
Yes. I'll add in some documentation issues as well.

[2022-09-19 14:14] abrahamalen commented on #1176
yep, that will be better

[2022-09-19 14:15] MinuraPunchihewa commented on #1171
@jravenel Hey sorry for the delay. I just made the updates to my notebooks, but when I importing the BigQuer driver to test them out, I came across the following issues,
[code]
Can someone help me with this?

I am faced with this when trying to run from `naas_drivers import bigquery` on naas.

I think it has to do with the dependencies required for the packages used in the driver.

FYI: @FlorentLv

[2022-09-19 15:21] jravenel commented on #1171
@MinuraPunchihewa I think @Dr0p42 can help. Thanks for bringing it up.

[2022-09-20 06:39] FlorentLvr commented on #1171
Hi @MinuraPunchihewa !

You are right! We need to update the requirements in Naas drivers.
Does it work if you install the version manually on your naas using `!pip install` ?
Could you please provide me the version we need to use for:
- google-cloud-bigquery
- pandas-gbq?

[2022-09-20 07:53] MinuraPunchihewa commented on #1171
Hey @FlorentLvr,

These are the versions that I have used,
Name: google-cloud-bigquery
Version: 3.3.0

Name: pandas-gbq
Version: 0.17.7

[2022-09-20 08:51] FlorentLvr commented on #1171
Hi @MinuraPunchihewa!
I just updated the naas_drivers. I should work now with the latest version of Naas.
🙏

![image](https://user-images.githubusercontent.com/48032461/191212770-957e285b-c621-4a88-98ed-b55e17911a5a.png)

[2022-09-20 08:53] jravenel opened #1177 "HubSpot - Create contact from LinkedIn profile"
With this notebook you can add a new contact to Hubspot using LinkedIn profile URL.

-  Input
HS_API_KEY = 'YOUR_HUBSPOT_API_KEY'
LI_AT = 'YOUR_COOKIE_LI_AT'
JSESSIONID = 'YOUR_COOKIE_JSESSIONID'
LINKEDIN_PROFILE = "https://www.linkedin.com/in/xxx/" or list
HS_OWNER_ID = 158373005

- Model
Get all the fields available in LinkedIn profile (FIRST_NAME, LAST_NAME, EMAIL, ORGANISATION, OCCUPATION)
Add

[2022-09-20 17:08] MinuraPunchihewa commented on #1171
Hey guys,
I updated the notebook templates to use the driver. They seem to be working fine now. Please have a look at the PR.

Could you guys also let me know if there are any other templates that you think will be useful? If so, you can open issues and assign them to me. I will work on them.

Furthermore, I have also been thinking of working on a Redshift driver. Do you guys think that will be us

[2022-09-22 09:39] #1171 closed

[2022-09-22 10:32] #1152 closed

[2022-09-22 10:49] #1157 closed

[2022-09-22 10:51] FlorentLvr opened #1181 "Naas Dashboards - Revenue by cogs"

[2022-09-22 11:04] #1181 closed

[2022-09-22 22:30] muhtalhakhan opened #1183 "HUGGING FACE - QUESTION ANSWERING"
Question Answering models can retrieve the answer to a question from a given text, which is useful for searching for an answer in a document. Some question answering models can generate answers without context!

## Loading the pipeline
Import Pipeline from Transformer after installing the transformers and tensorflow.

## Input
The input would be the text from any source.

## Output
For the output

[2022-09-23 16:39] #1183 closed

[2022-09-27 20:39] #1160 closed

[2022-09-27 21:24] jravenel commented on #1160
@simzer @veghdev @petervidos I've done the first template and posted about it :)

Template: https://github.com/jupyter-naas/awesome-notebooks/tree/master/Vizzu
Asset link: https://public.naas.ai/amVyZW15LTQwbmFhcy0yRWFp/asset/c5b597e8eba8936b180f5539cbc6aec5656c469bec204d476b079e8e1514

[2022-09-29 19:42] #1120 closed

[2022-09-29 22:56] muhtalhakhan opened #1189 "Hugging Face - Question Answering Notebook"
Question Answering models can retrieve the answer to a question from a given text, which is useful for searching for an answer in a document. Some question answering models can generate answers without context!

Loading the pipeline
Import Pipeline from Transformer after installing the transformers and tensorflow.

Input
The input would be the text.

Output
For the output a new window is opened at

[2022-09-30 07:46] FlorentLvr opened #1190 "PowerPoint - Add slide with title and subtitle + image + textbox"

[2022-09-30 07:57] simzer commented on #1160
@jravenel Cool, It's awesome! Thanks!

[2022-09-30 07:58] #1190 closed

[2022-09-30 11:33] FlorentLvr opened #1192 "Dash - Iframe Google map"
Iframe google map in Dash

[2022-10-01 22:45] jravenel opened #1193 "Python - Create strong random passwords"
**Describe the problem you are facing**
There are many reasons to create strong random passwords, from onboarding new users to providing a password-reset workflow to creating a new password when rotating credentials.

**Describe the solution you'd like**
You can easily use a dependency-free Python script to automate this process.

- Input
word_length = 18
components
- Model
generate password
- Out

[2022-10-01 22:49] jravenel opened #1194 "Python - Extract text from a PDF"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be turned into the [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 22:51] jravenel opened #1195 "Python - Copy text from two PDFs and merge into a new one"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 22:54] jravenel opened #1196 "Python - Convert audio file from wav to mp3"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 22:56] jravenel opened #1197 "Python - Filter text"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:08] jravenel opened #1198 "Python - Locate addresses"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:10] jravenel opened #1199 "Python - Convert a CSV to Excel"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:11] jravenel opened #1200 "Python - Match pattern with regular expressions"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:16] jravenel opened #1201 "Python - Convert PNG images to JPG"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:17] jravenel opened #1202 "Python - Compress images"
example → https://www.airplane.dev/blog/12-useful-python-scripts-for-developers to be templated using [Naas template framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository) for production use.

[2022-10-01 23:18] jravenel opened #1203 "Merge Pandas folder into Python folder"
As of today, Pandas is separated from the Python folder but it is still a part of the Python standard libraries. I think we should consider putting all the standard libraries in the Python folder as people will search for actions they can do + I don't think creating a folder for each lib (os, datetime, etc... is easy to maintain as we want to focus on third party tool in the outline of the awesome

[2022-10-01 23:35] devgenix commented on #1201
Hey, @jravenel

I can work on this.
I'll follow the steps to contribute and complete the prerequisites in a jiffy.

[2022-10-01 23:38] jravenel commented on #1201
@devgenix Cool 👍 let me know if you need help

[2022-10-01 23:49] devgenix commented on #1201
@jravenel I've accepted the invite and I see that I've been added to a team, do I still need to register to the [Contributor Program](https://form.typeform.com/to/jdls9qZf?typeform-source=www.naas.ai)?

[2022-10-01 23:51] jravenel commented on #1201
@devgenix it's up to you. If you want to get the latest updates, community events, etc...

[2022-10-02 00:05] devgenix commented on #1201
@jravenel I have registered to the program and joined the slack community.
You can now assign this to me and I'll take it up from there.

[2022-10-02 00:07] jravenel commented on #1201
@devgenix I believe you can assign it to you directly, you dont need me, can you confirm ?

[2022-10-02 00:08] devgenix commented on #1201
Oh yes, I forgot I now have access.

[2022-10-02 00:09] devgenix commented on #1201
@jravenel In creating branches, master is the one to use, right?

[2022-10-02 00:10] jravenel commented on #1201
@devgenix Correct you need to create your branch out of master

[2022-10-02 01:46] devgenix commented on #1201
@jravenel I've worked on this and create a PR, #1204 for your review.

[2022-10-02 02:55] devgenix commented on #1202
@jravenel I'd like to work on this.

[2022-10-02 03:06] devgenix commented on #1199
@jravenel I'll take this up.

[2022-10-02 05:44] shivam-Purohit commented on #1197
Hey can you elaborate a little more ,I can work on this if you like.

[2022-10-02 05:49] Shivashish-rwt commented on #1193
I can create. Can u assign this to me??

[2022-10-02 07:36] devgenix commented on #1196
@jravenel I'll take this up too.

[2022-10-02 07:43] SuhasBRao commented on #1198
HI there, I would like to work on this issue

[2022-10-02 08:42] jravenel commented on #1198
@SuhasBRao hi, great! I've added you to the open source community group on github to your email. This was you will be able to follow the contribution process in README ;)

[2022-10-02 08:43] jravenel commented on #1196
cool  :)

[2022-10-02 08:46] SuhasBRao commented on #1198
Thank you, I have started working on this.

[2022-10-02 09:42] Sophyia7 commented on #1199
@jravenel I want to take this up.

[2022-10-02 09:49] devgenix commented on #1199
Okay Sophia, I'm already working on other issues so I'll let you take this.

On Sun, 2 Oct 2022, 10:43 Sophia Iroegbu, ***@***.***> wrote:

[2022-10-02 10:00] jravenel commented on #1193
Sure, I also added you to the open source Contributor team, welcome to the club ;)

[2022-10-02 10:03] jravenel commented on #1197
Hey @shivam-Purohit, in the article above, section 5 there is a bit more context that can help you buid the template

Quote:
Matching and filtering text with regular expressions in Python is simple, and the benefits can be enormous. Say you have a system for batch processing sales-confirmation messages, and you need to extract a credit card from the text of an email message. The script below can q

[2022-10-02 10:07] devgenix commented on #1199
@jravenel I'm handling this to @Sophyia7

@Sophyia7 follow the guide to contribute in the project README.

[2022-10-02 10:11] jravenel commented on #1199
Thanks @devgenix that's good spirit :) @Sophyia7 the key idea here is to use a CSV file URL so that anybody can test without being dependent on local drive files.

I just added you to the contributor team so you can start follow the contribution process.

[2022-10-02 12:42] shivam-Purohit commented on #1197
sure, I can work on this issue. Seems pretty interesting.

[2022-10-02 13:02] israelabraham commented on #434
Hi @FlorentLvr, I'd like to take this up!

[2022-10-02 13:02] israelabraham commented on #434
Hi @FlorentLvr, I'd like to take this up!

[2022-10-02 14:46] MinuraPunchihewa commented on #1194
Hey @jravenel, I would like to take this up!

[2022-10-02 14:47] MinuraPunchihewa commented on #1195
Hey @jravenel, I would like to take this up along with the other PDF issue!

[2022-10-02 15:29] jravenel commented on #1195
@MinuraPunchihewa Awesome let's start with this one 🤩 I updated the readme for contribution process - we need to make sure the pdf are accessible via URLs so that it can be tested/used/reproduced easily. I was thinking maybe something like combining Bitcoin white paper + ethereum ones, we could just what do you think?

[2022-10-02 15:30] jravenel commented on #1197
@shivam-Purohit Looking forward to see your contribution 🤙

[2022-10-02 16:02] Shivashish-rwt commented on #1193
Thanks!!!
I'll be providing with PR within few days.

[2022-10-02 16:12] Shivashish-rwt commented on #1193
@jravenel
Just wanna ask one thing where should i add my code.

[2022-10-02 16:43] srini047 commented on #1200
I would like to work on this issue.

[2022-10-02 16:55] MinuraPunchihewa commented on #1195
@jravenel Sounds good. I will start working on this.

[2022-10-03 05:15] knshkp commented on #1200
i would like to work on this issue. could you assign me this issue to me

[2022-10-03 08:51] jravenel commented on #1200
Hi @knshkp, @srini047 already mentionned he wanted to work on this. Let's find another one for you if you don't mind.

[2022-10-03 08:53] jravenel commented on #1200
@srini047 just assigned you to this one. Please make sure to follow the instructions on the README :)

[2022-10-03 09:31] knshkp commented on #1200
yeah sure @jravenel

[2022-10-03 09:49] knshkp commented on #1197
could i work on this issue

[2022-10-03 09:52] jravenel commented on #434
@israelabraham I just added you to the opensource contributor team, please make sure to follow the contribution guide on the README and let me know if you need help

[2022-10-03 09:53] jravenel commented on #1197
@knshkp already taken by @shivam-Purohit

[2022-10-03 10:03] jravenel opened #1207 "Python - Get current city weather"
Using the following as example : https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/Current_City_Weather/Weather.py

let's build a template following the IMO framework where

Input:
CITY = ""

Model:
Use the code in the above URL

Output:
sentence saying
"The weather in {} is currently {} with a temperature of {} degrees and wind speeds reaching {} km/ph"

[2022-10-03 10:05] jravenel commented on #1207
@knshkp would you like to work on this one?

[2022-10-03 10:52] israelabraham commented on #434
Definitely, thank you very much.

[2022-10-03 11:00] knshkp commented on #1207
yeah sure Thanks for Choosing me!

[2022-10-03 11:36] jravenel commented on #434
Welcome @israelabraham 🙂

[2022-10-03 12:46] jravenel opened #1208 "Python - Convert file from .pptx to .pdf"
Let's find a way to do it so we can render pptx via pdf inside Jupyter env.

[2022-10-03 12:52] rexdivakar commented on #1208
Hey @jravenel i would like to work on this, can u please assign it to my name

[2022-10-03 12:54] jravenel opened #1209 "Fix error on folder/notebooks automatically updated via CI"
There is a error message I don't understand -> ModuleNotFoundError: No module named 'packaging'

URL : https://github.com/jupyter-naas/awesome-notebooks/actions/runs/3166609807/jobs/5156441106

Could you please have a look @Dr0p42 ?

[2022-10-03 15:16] jravenel commented on #1208
Hey @rexdivakar thanks for the suggestion. Let me connect you to @FlorentLvr that will be the reviewer.

I just added you to the contributor team on the GitHub org.
Let's ensure the pptx is accessible over the internet so anyone can reproduce.
I found this one for example : https://www.just.edu.jo/~zasharif/Web/SE495/Python/Slides/python1.ppt

So the template would look like:

Input:
FILE = "https

[2022-10-03 17:23] #1198 closed

[2022-10-03 17:33] jravenel commented on #1198
@SuhasBRao Well done 😇 thanks @FlorentLvr for the review

[2022-10-03 22:25] jravenel commented on #1198
FYI guys, @FlorentLvr @SuhasBRao, just posted about it on:

- LinkedIn personal account: https://www.linkedin.com/posts/jeremyravenel_hacktoberfest2022-opensource-contribution-activity-6982823114468392960-qoP9?utm_source=share&utm_medium=member_desktop
- LinkedIn Naas account: https://www.linkedin.com/feed/update/urn:li:activity:6982824029627785216
- Twitter personal account:
https://twitter.com/r

[2022-10-03 23:01] jravenel opened #1212 "Pillow - Generate a certificate template"

[2022-10-03 23:19] jravenel opened #1213 "Python - Organize directory based on file types"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this [LINK](https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/Directory-organizer/Directory-oraganiser.py)

[2022-10-03 23:24] jravenel opened #1214 "Python - Download webpage as PDF"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this [LINK](https://github.com/hastagAB/Awesome-Python-Scripts/tree/master/Download-page-as-pdf)

[2022-10-03 23:29] jravenel opened #1215 "Python - Display word definition"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this link https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/English_Theasauras/app.py

[2022-10-03 23:30] jravenel opened #1216 "Python - Find phone number in string"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this link https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/Find-PhoneNumber-in-String/Find-PhoneNumber-in-String.py

[2022-10-03 23:34] jravenel opened #1217 "Python - Create GitHub repository"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this link: https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/Git_repo_creator/git_repo_creator.py

[2022-10-04 01:59] rexdivakar commented on #1208
Thanks for explaining, will raise a PR once completed.

[2022-10-04 05:42] SuhasBRao commented on #1212
Hey @jravenel , I would like to work on this. I'm assigning the issue myself.

[2022-10-04 06:07] jravenel commented on #1208
@rexdivakar Thanks for your message, did you try this lib?

https://pypi.org/project/ppt2pdf/

+ https://gist.github.com/vikram-ai/5c811d076f7c4d17d3b497fc5fff8224

?
Let me know 🙏

[2022-10-04 06:13] SuhasBRao commented on #1212
Yes we need a template png , I thought of creating a template myself using canva.
If you have any templates do share it, I'll use the same.

[2022-10-04 06:14] rexdivakar commented on #1208
Yup they all have dependency over PowerPoint software and cannot be used across platforms without office softwares installed.

[2022-10-04 06:19] jravenel commented on #1212
Perfect if you want to do it with canva ✌️just make sure the png is accessible via internet by uploading the file in this ISSUE you can reuse the link. Good for you?

[2022-10-04 06:28] jravenel commented on #1208
I guess this on is the same ? https://community.esri.com/t5/python-questions/how-can-i-use-python-to-convert-ppt-to-pdf/td-p/310114

It looks like it works for them by reading the thread

[2022-10-04 07:15] knshkp commented on #1217
i would like to work on this issue

[2022-10-04 07:45] SuhasBRao commented on #1212
@jravenel can you please check out these two templates, I have [here](https://www.canva.com/design/DAFODmTkIdM/dduF9Gzgf3XHmh8sBv3NKw/edit?utm_content=DAFODmTkIdM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton).
and let me know which one shall i go with?

[2022-10-04 08:16] Dr0p42 commented on #1209
I just pushed a fix. It seems that it worked but I am waiting for Gitbook to sync again.

[2022-10-04 08:17] anastazir commented on #1216
!assign

[2022-10-04 08:22] Dr0p42 commented on #1209
It's fixed 🚀

[2022-10-04 08:50] jravenel commented on #1217
@knshkp great, just assigned you.

[2022-10-04 10:15] jravenel commented on #1212
@SuhasBRao I checked but I think there was some stuff missing so I did it a simulation quickly on my side taking your contribution for yesterday as an example, here is the result:

![Image](https://user-images.githubusercontent.com/21052349/193794492-723c3ee1-3034-4b8f-a2aa-bf7835d50be1.png)

[2022-10-04 10:18] jravenel commented on #1212
If it's ok for you, here is the boilerplate on which you should add the text and formatting:

![Image](https://user-images.githubusercontent.com/21052349/193795091-42614e9c-825c-4d60-8913-c9af262e70e0.png)

[2022-10-04 11:04] SuhasBRao commented on #1212
It looks great, I will use this template itself.

[2022-10-04 11:49] jravenel commented on #1212
Cool 👍

[2022-10-04 15:26] paras3624 commented on #1193
Hey! I would like to contribute to this issue.

[2022-10-04 15:35] anastazir commented on #1216
Hi @jravenel, can I be assigned to work on this issue?

[2022-10-04 16:44] jravenel commented on #1216
Sure, I just added you to the contributor list, please let me know if you need help, the process is on the README.

[2022-10-04 21:03] jravenel commented on #1209
as discussed today, it seems broken still
<img width="968" alt="Screenshot 2022-10-04 at 18 27 15" src="https://user-images.githubusercontent.com/21052349/193928107-5d6c73a4-c420-44a5-953b-f32516bf98da.png">

[2022-10-04 22:08] #1217 closed

[2022-10-05 05:52] sudojarvis commented on #1214
@jravenel  can i work on this issue?

[2022-10-05 09:42] jravenel commented on #1214
Sure I just added you to the community team so you can follow the step by step contribution process here: https://github.com/jupyter-naas/awesome-notebooks#how-to-contribute-

[2022-10-05 11:23] srini047 commented on #1215
I would like to take up this issue.

[2022-10-05 13:11] srini047 opened #1224 "Twilio - Call API to verify phone numbers"
This is the Template to make calls to verified phone numbers using Twilio.

[2022-10-05 13:17] jravenel commented on #1215
go ahead @srini047

[2022-10-05 14:54] #1195 closed

[2022-10-05 15:00] knshkp commented on #1213
i would like to work on this issue

[2022-10-05 16:14] jravenel opened #1226 "Cloud Mercato - Compare VMs pricing"
In this notebook, I want to be able to get a table of all the major VMs provider by RAM and CPU.

[2022-10-05 16:16] jravenel commented on #1226
@zulupro here we go. :D

[2022-10-05 17:23] jravenel commented on #1224
adding the product roadmap reference here in Projects section (you did it in the PR)

[2022-10-05 17:24] jravenel commented on #1224
adding Labels

[2022-10-05 17:25] jravenel commented on #1224
modifiying the name for clarity and better understanding. Is that ok @srini047 ?

[2022-10-05 17:26] srini047 commented on #1224
Yeah. That's absolutely cool!!

[2022-10-06 06:55] srini047 commented on #1215
Fix typo in issue name: ~~world~~ -> word

[2022-10-06 13:58] Venkatakrishnan-Ramesh commented on #1208
Hey @jravenel  i would like to work on this ,is it not assigned to anyone, can u please assign it to my name

[2022-10-06 14:05] rexdivakar commented on #1208
Testing the same will rasie a PR asap, kindly assign it to my name

[2022-10-06 16:58] #1207 closed

[2022-10-06 17:37] #1200 closed

[2022-10-06 19:31] jravenel commented on #1189
Add ref to Product Roadmap and label in Project section

[2022-10-06 20:45] muhtalhakhan commented on #1189
I think you have added ref already cause I don't know about it and I know about how to add labels.

[2022-10-07 12:50] jravenel commented on #1189
yes i did it no problem. Labels are simple and straight forward. Enhancement for new features, bug, good first issue for new things.

[2022-10-08 02:48] rexdivakar commented on #1208
![image](https://user-images.githubusercontent.com/15235122/194684428-b33906e1-4927-455b-b117-970a9e9aac28.png)

All the snippets you shared require some form of office installation over the device, as i mentioned earlier we cannot directly convert it as its a binary module. Do you have any other suggestions ?

[2022-10-08 05:08] jravenel commented on #1208
@Venkatakrishnan-Ramesh It's already assigned as you may see the discussion on this thread 😉

[2022-10-08 05:10] jravenel commented on #1208
- [ ] @rexdivakar we have not been able to sync with @Dr0p42 about this but we will discuss it during the weekly product roadmap next Monday ! Thanks for the research on this 🙏 you can join the meeting next Monday it's public

[2022-10-08 06:42] SuhasBRao commented on #1154
Hi there, I would like to work on this issue.
Can you give me more info on this. Like do we need a notebook that sends email when it is run or an automated newsletter that sends emails every week ata specified day.

[2022-10-08 07:24] rexdivakar commented on #1208
sure definitely !

[2022-10-08 11:42] rexdivakar commented on #1213
Hey @jravenel if this issue is unassigned i can work on this and raise a PR

[2022-10-08 11:43] jravenel commented on #1213
Go ahead @rexdivakar

[2022-10-08 11:46] rexdivakar commented on #1213
Can u eloborate more on the issue please, like how would u like to segrigate the directories to be ? with your feedback i can come up with some good logic

[2022-10-08 11:56] #1194 closed

[2022-10-08 13:48] SuhasBRao commented on #1154
After a bit of searchig I found that, If we need a Jupyter notebook that sends emails at the specified time, we need to schedule notebooks using Jupyterlab Scheduler.

[2022-10-08 18:29] jravenel commented on #1154
#@SuhasBRao It's seems like you did not check Naas Scheduler and notification in docs.naas.ai we specifically fixed that 🤗

[2022-10-09 02:42] SuhasBRao commented on #1154
Oh I did not know about that 😅. I'll look into it.

[2022-10-09 14:02] SuhasBRao commented on #1154
Thanks @jravenel, I read the documentation now I am able to send the email without any issues. Here's a sample mail that I sent.

![Screenshot from 2022-10-09 19-26-59](https://user-images.githubusercontent.com/65769327/194761123-01a59f95-0a56-4652-9158-fb4c74bc6e96.png)

But I feel we need more content based on Issues/PR activity. Here only 5 recent issues and PRs are shown. Do you have any sugge

[2022-10-10 09:15] FlorentLvr opened #1232 "Python - Reformat text without spaces"
- Input
Text extracted from PDF
`text = """ WhenSatoshiNakamotofirstsettheBitcoinblockchainintomotioninJanuary2009,hewas
simultaneouslyintroducingtworadicalanduntestedconcepts.Thefirstisthe"bitcoin",adecentralized
peer-to-peeronlinecurrencythatmaintainsavaluewithoutanybacking,intrinsicvalueorcentralissuer.So
far,the"bitcoin"asacurrencyunithastakenupthebulkofthepublicattention,bothintermsofthepolit

[2022-10-10 09:18] FlorentLvr opened #1233 "Python - Rename file"
Rename file.

[2022-10-10 09:39] #434 closed

[2022-10-10 11:18] rexdivakar commented on #1233
Hey i would like to work on this pls

[2022-10-10 11:33] waqarg2001 opened #1234 "Kaggle - Download Datasets"
**Describe the problem you are facing**
Instead of downloading Kaggle data in pc, it should be directly downloaded in the notebook where it has to be used.

**Describe the solution you'd like**
a function which takes the URL of the dataset and downloads the data in the notebook directory.

- Input
URL
- Model
Python Function
- Output
Data downloaded in notebook directory.

[2022-10-10 11:43] rexdivakar commented on #1234
Hey @waqarg2001 i would like to work on this, pls assign it to me

[2022-10-10 12:19] jravenel opened #1235 "Generate contribution certificate when PR is merged"
As a contributor, anytime my PR is successfully merged into awesome-notebooks repo, I would like to receive a github notification in the comment that my PR was merged + certificate.

"Thank you for your contribution @slug, your PR has been merged into the master branch of awesome-notebook.
Here is the contribution certificate you can share on social media so everybody knows how awesome you are 🤙🌎.

[2022-10-10 12:20] jravenel commented on #1235
@SuhasBRao maybe you would like to take a look at this at you created the PR.

[2022-10-10 12:23] jravenel opened #1236 "Add a sentence to add new template or report a bug below all "Open in Naas" button in awesome-notebooks"
This will enable anyone to report problems and suggest new templates more easily.

[2022-10-10 12:31] jravenel opened #1237 "Naas - Send awesome-notebooks template list to Gsheet"
Fields to be accessed:

root
subdir
github_url
title
download_url
tags
author
description
author_url
date_merged
librairies
modules
domain

[2022-10-10 12:34] jravenel commented on #1237
This will personally help me monitor the templates where content where published @FlorentLvr thanks :)

[2022-10-10 13:53] waqarg2001 commented on #1234
.take

[2022-10-10 13:56] waqarg2001 commented on #1234
@rexdivakar how to assign? I am new here.

[2022-10-10 13:58] rexdivakar commented on #1234
Got it thanks buddy

[2022-10-10 13:59] waqarg2001 commented on #1234
@rexdivakar  i want to self assign

[2022-10-10 14:13] SuhasBRao commented on #1235
Yes, I will work on it.

[2022-10-10 14:18] jravenel commented on #1235
Cool 👍 @Dr0p42 can help if you need

[2022-10-10 14:19] SuhasBRao commented on #1235
I might need help while creating a workflow

[2022-10-10 14:22] jravenel commented on #1235
no problem, just prepare a PR as you think it should be and @Dr0p42 will check and answer questions based on the PR.
The essential point here is to commit your work and try to be as explicit as you can be in the questions 🤙 🔥🔥

[2022-10-10 15:12] jravenel opened #1240 "BigFunctions - Get sentiment score"
This notebook gets a dataframe from bigquery and add sentiment score.

Input:
DATAFRAME = ""
service_account_file = 'big-query-777777-ffffff777777.json'
project_id = 'big-query-777777'
dataset = 'example_ds'
table_name = 'iris'

Model
BigFunction magic

Ouptut
Get dataframe with sentiment column

[2022-10-10 15:36] SuhasBRao commented on #1235
@jravenel is there a way to modify variables used in .ipynb using .yaml. To generate a certificate I need to modify certain variables like date_of_contribution, contributor_name etc.

[2022-10-10 15:41] jravenel commented on #1235
I think it should be a copy of your code from the .ipynb, not the same so you can do what you want

[2022-10-10 15:44] Sophyia7 commented on #1199
@jravenel I am having an issue creating a PR that runs all checks, one of the checks says I exposed a secret key, but I didn't include any key in my code. It may be an issue from another folder. Please could you help me look at this issue?

[2022-10-10 15:45] jravenel commented on #1199
@Sophyia7 looking at it now

[2022-10-10 16:17] Sophyia7 commented on #1199
@jravenel I have resolved the issues, thanks.

[2022-10-10 18:56] srini047 commented on #1215
I just have a small doubt. I have used the same code (as the reference [provided](https://github.com/hastagAB/Awesome-Python-Scripts/blob/master/English_Theasauras/app.py)) and also implemented using a [pydictionary](https://pypi.org/project/PyDictionary/) model which is better and has lots of features.

With which shall I proceed?
Any support is appreciated🚀

[2022-10-10 20:35] jravenel commented on #1215
Hi @srini047, I let you judge but I really like this pydictionary from what I see. Go ahead with it.

[2022-10-11 00:31] jravenel commented on #1154
My feedback:
- no need for logo
- need to pass the number of days in the past as input
- text: ""
Hello there,
Here is what happened over the past 7 days on awesome-notebooks:

**Issues created = 12**
[Name of issue 1]() -> plain text name with href
Name of issue 2

**Issues closed = 4**
[Name of issue 1](), closed by [PR #123]() by @SuhasBRao
Name of issue 2, closed by PR #123 by @FlorentLvr

[>>

[2022-10-11 02:30] srini047 commented on #1215
Great!!

[2022-10-11 04:41] SuhasBRao commented on #1154
Nice, I will modify it accordingly

[2022-10-11 11:14] #1199 closed

[2022-10-11 11:27] #1232 closed

[2022-10-11 11:34] #1233 closed

[2022-10-12 07:43] SuhasBRao commented on #1154
Here is a snapshot of the updated email content, @jravenel let me know what you think.

![Screenshot from 2022-10-12 13-10-53](https://user-images.githubusercontent.com/65769327/195280873-f6df745e-1c15-4a2a-8885-07cb765112e5.png)

If it's fine I'll create a PR.

[2022-10-12 20:38] jravenel commented on #1208
@rexdivakar moved it to in progress for discussion, I'm wondering if it would not be better to just use the Google Slide API to build slides and export them as a PPT or whatever format programatically, google slides API seems better option, what do you think guys @FlorentLvr @Dr0p42 ?

[2022-10-12 20:53] jravenel commented on #1213
Maybe we can just try to make the directory to be organized by file types extension?  ppt, ipynb, etc...
What do you think @rexdivakar ?

[2022-10-13 00:28] rexdivakar commented on #1213
cool that can be done, so let me work on this!!

[2022-10-13 01:38] SuhasBRao commented on #1154
Sure thing I will modify, I didn't get the first point though. "no need to add a sentence after the title".
Do you want me to remove sentences like "Here are few of them,' is that right?

[2022-10-13 06:02] jravenel commented on #1213
Cool.

[2022-10-13 07:17] FlorentLvr opened #1248 "Python - Create directory"
- Input
dir_path = ""

- Model
check if dir_path exists if not create  dir

- Output
print(f'Directly successfully created {dir_path}')

[2022-10-13 07:25] FlorentLvr opened #1249 "Dash Plotly - Add dynamic link on label click on plotly chart python"
I would like to be able to click on the label displayed on my horizontal barchart in Plotly / Dash Plotly:
https://stackoverflow.com/questions/25148462/open-a-url-by-clicking-a-data-point-in-plotly

- Input
App setup

- Model
Create plotly graph
Create a Dash app with Plotly graph
Setup callback

- Output
Display app

Start from awesome-notebooks template: https://github.com/jupyter-naas/awesome-n

[2022-10-13 07:30] FlorentLvr opened #1250 "Python - Get all files from directory"
As a user, I would like to get all files from a directory even in a sub-directory.
I recommend to use the library 'glob'

- Input
Setup Variables
dir_path = ""

- Model
Get all files

- Output
Display result
print(files)

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-13 07:34] FlorentLvr opened #1251 "PowerPoint - Add title + line in presentation"
- Input
Create a presentation

- Model
Create title
Create line below title

- Output
Save presentation

[2022-10-13 07:43] kunalsingh1301 commented on #1250
import glob

# Returns a list of names in list files.
print("Using glob.glob()")
files = glob.glob('/home/kunal/Desktop/ks/**/*.txt',
                   recursive = True)
for file in files:
    print(file)

# It returns an iterator which will be printed simultaneously.
print("\nUsing glob.iglob()")
for filename in glob.iglob('/home/kunal/Desktop/ks/**/*.txt',
                           recursive =

[2022-10-13 07:46] FlorentLvr commented on #1250
@kunalsingh1301! Sure, I just added you as open-source contributor!
You can follow the steps on our README to contribute to our repository: https://github.com/jupyter-naas/awesome-notebooks#readme
Let me know if I can help!

[2022-10-13 08:00] yashsarnaik22 commented on #1248
Can I do this?
please assign this to me.

[2022-10-13 08:51] FlorentLvr commented on #1248
@yashsarnaik22! Sure, I just added you as an open-source contributor!
You can follow the steps on our README to contribute to our repository: https://github.com/jupyter-naas/awesome-notebooks#readme
Let me know if I can help! 🙏

[2022-10-13 09:24] jravenel commented on #1154
@SuhasBRao yes you got it, no need to have the "recent ones" we need all of them on the time-frame requested (x days)

[2022-10-13 11:57] FlorentLvr opened #1253 "Python - Copy files and subdir from directory to another directory"
Copy all elements inside a directory to another directory
Overwrite duplicates elements

- Input
dir_path_src = "" #Directory path source
dir_path_des = "" #Directory path destination

- Model
Get elements from the source directory
Copy elements in the destination directory (manage duplicate)

- Output
Display all elements duplicated.

[2022-10-13 12:15] SuhasBRao commented on #1154
Modified the newsletter as per needs
[Newsletter.webm](https://user-images.githubusercontent.com/65769327/195593101-4dbdfacd-ffea-443e-954f-6a1b63630169.webm)

@jravenel and @FlorentLvr  what do you think?

[2022-10-13 13:46] hitchhicker007 commented on #1253
@FlorentLvr I want to work on this issue. can you please assign it to me?

[2022-10-13 13:54] jravenel commented on #1154
My feedback :

→ here we can remove the "-" in "-PR"? #display
<img width="969" alt="Screenshot 2022-10-13 at 15 10 09" src="https://user-images.githubusercontent.com/21052349/195614975-2075f2dc-d488-48ef-bdd8-b9c264bf0528.png">

→ here, can we put spaces between number " - " and PR #display
<img width="969" alt="Screenshot 2022-10-13 at 15 10 09" src="https://user-images.githubusercontent.com/210

[2022-10-13 14:17] SuhasBRao commented on #1154
@jravenel I can modify Issue_open and Issue_closed accordingly but for PRs I don't have idea to retrieve the corresponding issues, right now I have written a function to get open PRs which gets "ref" field from [here](https://api.github.com/repos/jupyter-naas/awesome-notebooks/pulls?state=open&per_page=1).

like this,
**df.loc[idx, 'issue_ref_title'] = r.get('head').get('ref')**

Can you help me w

[2022-10-13 14:40] FlorentLvr commented on #1253
@hitchhicker007! Sure, I just added you as an open-source contributor!
You can follow the steps on our README to contribute to our repository: https://github.com/jupyter-naas/awesome-notebooks#readme
Let me know if I can help! 🙏

[2022-10-13 14:45] SuhasBRao commented on #1154
I can think of one solution,  we can modify that string itself and display it in a proper format.
And do you have an idea on how we can link that issue name to its respective issue on github.

[2022-10-13 16:22] hitchhicker007 commented on #1253
@FlorentLvr what should be the folder name?

[2022-10-13 18:44] jravenel commented on #1253
Python @hitchhicker007 the framework we use is "Tool/folder - action" in the issue

[2022-10-14 03:08] SuhasBRao commented on #1235
Hi @jravenel , I am able to generate certificate as PR comment, I'm using Python script to create certificate and .yaml file runs this script during workflow.

Below is a certificate that I have generated on my forked repository, However, You can see that under Organization, name **SuhasBRao** in this case, I am not able to fetch user bio,
![Screenshot from 2022-10-14 08-30-46](https://user-images

[2022-10-14 05:59] SuhasBRao commented on #1235
@jravenel I solved it instead of making requests from .py I used API's in .yaml file, Heres the output. Let me know what you think I will create a PR.
![Screenshot from 2022-10-14 11-28-58](https://user-images.githubusercontent.com/65769327/195773168-8abb4e3e-5d95-49ca-b0dc-af831cc782a2.png)

[2022-10-14 06:29] hitchhicker007 commented on #1253
@FlorentLvr should I overwrite duplicated files or just print the message that the file already exists?

[2022-10-14 07:19] #1216 closed

[2022-10-14 07:25] FlorentLvr commented on #1253
@hitchhicker007! Could you create a parameter in your function to overwrite? In this way, we could choose:
`def copy_folder(dir_src, dir_des, overwrite=True)`

[2022-10-14 07:28] FlorentLvr commented on #1250
@kunalsingh1301, all good on your side? I saw you didn't accept our invitation on GitHub (open source contributor). You should have received an email! Let me know if you have any doubts.

[2022-10-14 10:20] SuhasBRao commented on #1154
Hey @jravenel, I am facing an issue, while accessing **issue** linked to a PR, the problem is that GitHub recognizes PR as a separate issue, so I can only retrieve **ref** object from a [PR API here](https://api.github.com/repos/jupyter-naas/awesome-notebooks/pulls/1252) which gives the name of issue ( in a different format as in the above comment ). Whereas the original issue linked to it is [Iss

[2022-10-14 10:23] SuhasBRao commented on #1154
Here's a snapshot of latest content as of now,
![Screenshot from 2022-10-14 15-50-56](https://user-images.githubusercontent.com/65769327/195824091-9ab7879c-1ff5-48fd-85b7-705fd6d02217.png)

You can see that issues created also includes PRs along with the Open issues,  this is because github treated open PRs as open issues.

[2022-10-14 14:55] Rayryu opened #1258 "XGBoost - A binary classification example with hyper-parameters optimization"
### The problem
As a data scientist, I would like solve binary classification problems on tabular datasets using a performing Machine learning model.

### Suggested solution
[XGBoost outperforms ML/DL models ](https://arxiv.org/pdf/2106.03253.pdf) when it comes to tabular data.
A template with sample training code of a XGBoost classification model, including hyper-parameters optimization would be

[2022-10-14 15:20] jravenel commented on #1235
Let's go for the PR!! that's awesome man! put @Dr0p42 and myself as reviewer please

[2022-10-15 13:53] jravenel commented on #1249
Hi @oguzakif , glad you want to contribute, please follow the instructions in the awesome-notebook readme to start contributing. -> https://github.com/jupyter-naas/awesome-notebooks#how-to-contribute-

Cheers!

[2022-10-15 15:12] jravenel commented on #1233
⚡️ This template has been promoted on:

- my LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_opensource-love-python-activity-6986072705175318528-dYMo?utm_source=share&utm_medium=member_desktop
- reposted on Naas's LinkedIn account: https://www.linkedin.com/feed/update/urn:li:activity:6986076006495223808
- my Twitter account: https://twitter.com/ravenel_jeremy/status/1580312050663755

[2022-10-15 15:23] jravenel opened #1261 "Add message with link of the template when PR is merged"
When a PR is merged, the CI (github action) should add a message to the PR (and if possible in the Issue as well) saying "The template is now available on the master branch on this link: https://github..... "

[2022-10-15 15:24] jravenel commented on #1261
@SuhasBRao do you want to keep up working on the CI?

[2022-10-15 15:46] jravenel opened #1262 "Add CI task "Update /templates page in docs from awesome-notebooks Readme.md""
@chicken-biryani  this is linked to your suggestion on the gdoc, I believe the readme and the landing page in the doc should be the same and hence be automated.

What do you think?

Source: https://github.com/jupyter-naas/awesome-notebooks/blob/master/README.md
Target: https://github.com/jupyter-naas/docs/blob/master/templates.md

[2022-10-15 16:05] SuhasBRao commented on #1261
Sure, I would love to. Do I need to create a PR comment.

[2022-10-15 16:31] jravenel commented on #1261
Yes that's the idea.

[2022-10-15 16:33] muhtalhakhan commented on #1189
@jravenel please review the request and deploy.

[2022-10-15 16:35] SuhasBRao commented on #1261
Cool, And what exactly do I need to link. Is it a link to .ipynb file that solves the issue

[2022-10-15 16:52] jravenel commented on #1261
Yes to the ipynb file in master branch that solve issue

[2022-10-15 16:59] SuhasBRao commented on #1261
Okay, I will work this issue.

[2022-10-16 23:03] jravenel commented on #1216
⚡️ This template has been promoted on:

- my LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_feat-python-find-phone-number-in-string-activity-6987542479856140288-Ybr9?utm_source=share&utm_medium=member_desktop
- reposted on Naas's LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_feat-python-find-phone-number-in-string-activity-6987542479856140288-Ybr9?utm_source=share&

[2022-10-17 08:09] #1253 closed

[2022-10-17 08:28] #1234 closed

[2022-10-17 14:00] FlorentLvr opened #1263 "HubSpot - Create / Update / Delete / Get company in HubSpot"
API: https://developers.hubspot.com/docs/api/crm/companies

Create 4 notebooks (IMO framework) in the HubSpot folder to interact with the company object.

[2022-10-17 15:55] jravenel commented on #1251
@ayoub-berdeddouch it seems like @Eviaiy is already on it, @Eviaiy can you confirm that?

cc @FlorentLvr

[2022-10-17 15:57] ayoub-berdeddouch commented on #1250
@FlorentLvr assign, if not taken already!

[2022-10-17 16:06] Eviaiy commented on #1251
Yes @jravenel.
@FlorentLvr and I are working on it.

[2022-10-17 16:20] jravenel commented on #1251
@ayoub-berdeddouch would you like to work on the same but for google slides?

Thanks would be super useful. If you do, I will create Issue.

[2022-10-17 16:32] jravenel opened #1264 "Windsor.ai - Generate dashboard from API Key"
**Describe the problem you are facing**
As a watson.ai python user, I would like to use Jupyter to generate dashboard

**Describe the solution you'd like**
A Dash app/dashboard where I can put my API key in the front end so it refreshes the dashboard

Example to follow to structure the notebook in the awesome-notebooks IMO framework : https://github.com/jupyter-naas/awesome-notebooks/blob/master/N

[2022-10-17 16:39] FlorentLvr commented on #1250
As you did not answer @kunalsingh1301, I reassign the issue to @ayoub-berdeddouch!
Hope you will be able to contribute on naas on another issue @kunalsingh1301!
@ayoub-berdeddouch, glad you want to contribute, please follow the instructions in the awesome-notebook readme to start contributing. -> https://github.com/jupyter-naas/awesome-notebooks#readme

[2022-10-17 16:54] Dr0p42 commented on #1264
Hello everyone,

for the url it will be something like https://<app_name>.windsor.service.naas.ai/ (I still need to configure `service.naas.ai` for now it's `kn.naas.ai`).

I will have some setup to do for you @eliasdabbas before you can deploy your Dashboard in our new cluster.

Is your Notebook stored somewhere on Github ?

Best

[2022-10-17 17:11] Dr0p42 commented on #1264
Oki doki 👍

[2022-10-17 23:54] muhtalhakhan opened #1266 "Whatsapp - Automate the Text Message"
**Can We Automate Messaging on WhatsApp?**
_Yes, it is possible through WhatsApp Business API to automate WhatsApp messaging._

**Describe the problem you are facing**
My idea is to automate the text message at first then we can automate other stuff easily.

**Describe the solution you'd like**
For this we will be requiring its API (Business). I will be attaching the links down in the issue.

- In

[2022-10-18 07:42] #1224 closed

[2022-10-18 08:24] FlorentLvr commented on #1236
@jravenel, as we discussed, I proposed to add this solution:
![image](https://user-images.githubusercontent.com/48032461/196377170-32f81da6-1831-497f-89f1-19fcc227feaa.png)

I will add this syntaxe on the create open button function:
<br><br>
<a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">💡

[2022-10-18 08:35] #1236 closed

[2022-10-18 12:10] #1177 closed

[2022-10-18 13:43] SuhasBRao commented on #1261
@jravenel, is this the kind of comment you asked for.

![Screenshot from 2022-10-18 19-10-32](https://user-images.githubusercontent.com/65769327/196446471-043a9329-4cb9-4213-ac9c-41fbf1a1701e.png)

This generates comment only if .ipynb file is detected in PR chagnes and when that PR is merged to master branch.

[2022-10-18 15:13] #1215 closed

[2022-10-18 15:29] ayoub-berdeddouch commented on #1250
Description: This notebook gives you the ability to get all files from a directory even in a sub-directory.
@FlorentLvr please check and give me your feedback!

[2022-10-18 15:41] FlorentLvr opened #1271 "PowerPoint- Create Report"
This notebook creates a PowerPoint presentation.

[2022-10-18 22:43] jravenel commented on #1194
⚡️ This template + the one associated to refine the text without spaces has been promoted on:

- my LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_opensource-github-templates-activity-6988264193925775360-cEtr?utm_source=share&utm_medium=member_desktop
- reposted on Naas's LinkedIn account: https://www.linkedin.com/feed/update/urn:li:activity:6988266098538258432
- my Twitter account

[2022-10-19 07:54] jravenel opened #1272 "Naas - Get jobs execution"
**Describe the problem you are facing**
I want to access all the jobs executed on my Naas machine.

**Describe the solution you'd like**

Input:
Import libraries

Model:
Get JSON data with all jobs execution (job_name, job_type, time_start, time_end, duration, state...)
Transform in data frame

Output:
Display dataframe

[2022-10-19 09:14] ayoub-berdeddouch commented on #1251
@jravenel yes why not, just create the issue I will work on it with Google slide API using python.

[2022-10-19 10:12] ayoub-berdeddouch commented on #1271
@FlorentLvr assign me to it!

[2022-10-19 12:41] eliasdabbas commented on #1264
@jravenel  @Dr0p42 I just created a [pull request for this notebook](https://github.com/jupyter-naas/awesome-notebooks/pull/1274).
Happy to make any changes if required.

[2022-10-19 16:34] jravenel opened #1275 "Medium - Publish article from Mardown file via API"
The objective is to create a template using [Naas IMO framework](https://github.com/jupyter-naas/awesome-notebooks#what-is-the-objective-of-this-repository-) inspired by the code on this link https://betterprogramming.pub/programmatically-publish-a-markdown-file-as-a-medium-story-with-python-b2b072a5f968

[2022-10-19 22:31] jravenel commented on #1200
@srini047

⚡️ This template has been promoted on:

- my LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_python-opensource-templates-activity-6988619693620084736-Zd_J?utm_source=share&utm_medium=member_desktop
- reposted on Naas's LinkedIn account: https://www.linkedin.com/feed/update/urn:li:activity:6988622485508235264
- my Twitter account: https://twitter.com/ravenel_jeremy/status/

[2022-10-20 01:44] srini047 commented on #1200
Thanks Jeremy for sharing it 😊

[2022-10-21 09:13] SuhasBRao commented on #1261
@jravenel let me know what you think about this so I can modify it as required.

[2022-10-21 15:53] #1249 closed

[2022-10-21 16:10] #1250 closed

[2022-10-21 16:44] ayoub-berdeddouch commented on #1251
@FlorentLvr I have created a template for Powerpoint!
and if @jravenel could create the issue for Google Slides I will try to finish it by tomorrow. 🚀

[2022-10-21 16:51] Venkatakrishnan-Ramesh commented on #1275
Hey @jravenel i would like to work on this issue, so can you kindly assign me

[2022-10-22 09:17] srini047 commented on #1263
Hi @FlorentLvr !!

I would like to work on this issue.

[2022-10-22 09:45] FlorentLvr commented on #1263
Sure! TY! Let me know if you need anymore info!

[2022-10-23 07:46] #1271 closed

[2022-10-26 21:42] jravenel commented on #1234
@waqarg2001 ⚡️ This template has been promoted on:

- my LinkedIn account: https://www.linkedin.com/posts/jeremyravenel_opensource-love-kaggle-activity-6991149228962017281-BW_G?utm_source=share&utm_medium=member_desktop
- reposted on Naas's LinkedIn account: https://www.linkedin.com/posts/naas-ai_opensource-love-kaggle-activity-6991150789998080001-LbgA?utm_source=share&utm_medium=member_desktop
-

[2022-10-27 13:55] sudojarvis commented on #1214
@jravenel   I am facing the issue. I am attaching the screenshot. Is there any way I can resolve it?  I tried different things as per StackOverflow.
![Screenshot from 2022-10-27 19-08-26](https://user-images.githubusercontent.com/75030755/198304068-df786c56-b8d6-447c-9f91-14232dd3a703.png)

![Screenshot from 2022-10-27 19-08-26](https:/
![Screenshot from 2022-10-27 19-09-13](https://user-images.gi

[2022-10-27 21:58] jravenel commented on #1280
@techgoddess1 let's take a look at the dashboard you have done tomorrow

[2022-10-27 23:25] jravenel commented on #1271
⚡️ @ayoub-berdeddouch this template has been promoted on:

- my LinkedIn account:
- reposted on Naas's LinkedIn account:
- my Twitter account:
- reposted on Naas's Twitter account:

To let people know how awesome you are!

[2022-10-28 09:22] ayoub-berdeddouch commented on #1271
Thank you @jravenel for the promotion 😸
Always a pleasure to contribute!!

[2022-10-28 14:06] Sarthak02g commented on #1248
Hey there,
If not resolved, Kindly assign me this issue.

[2022-10-28 14:26] FlorentLvr opened #1281 "FEC - Create dashboard Dash"
Notebook name: FEC_Create_dashboard_Dash

**Data source:**

Google Sheet => https://docs.google.com/spreadsheets/d/1Sz4tDDFYvCCSQj5Pywk0ybrWbrLW8QKqNN8_nq6Kpp8/edit#gid=1166311839

[2022-10-28 14:34] FlorentLvr commented on #1281
@Eviaiy, you can start this template using the data stored in Gsheet. (@jravenel )

[2022-10-29 17:09] jravenel commented on #1154
Reopenning it because of data quality issue @FlorentLvr @SuhasBRao I've done a video to explain: https://www.loom.com/share/c6fc45384fed4e7e86303f2cb4c6f38f

Any thoughts on how we can fix it?

[2022-10-29 17:17] jravenel commented on #1154
@SuhasBRao I've create a new branch and started by renaming title for better clarity.
I'm happy to do a workshop on this with you because it's something that a lot of open source projects could use !

[2022-10-29 17:27] jravenel commented on #1209
Hey @Dr0p42 just a heads up on this as some of the folder are still missing their "+" feature to see the template under it.

[2022-10-29 20:00] jravenel commented on #1193
@Shivashish-rwt are you still consider contributing on this? The README.md has all the instructions on how to do it.

if not please let us know!
@paras3624 are you still open to help in case @Shivashish-rwt can't contribute, you can try openning a PR. Thanks ;)

[2022-10-29 20:02] jravenel commented on #1197
@shivam-Purohit just a friendly reminder that the deadline for submitting a summary is coming soon 'end of october' :)
Don't hesitate to let us know if you cannot do it.

[2022-10-29 20:04] jravenel commented on #1196
@devgenix hi! do you still consider contributing? end of hacktobefest is approaching and i'd like to make sure we can hit the deadlines. Thanks

[2022-10-29 20:06] jravenel commented on #1263
@srini047 hi! do you still consider contributing on this? as hacktobefest end is approaching, let me know if you are available for this.

[2022-10-29 20:06] jravenel commented on #1281
@Eviaiy all clear for you?

[2022-10-29 22:42] sudojarvis commented on #1214
I have unassigned myself.  If some one want takes over they can go ahead.

[2022-10-30 02:10] SuhasBRao commented on #1154
Thank you @jravenel for taking time and reviewing this issue,

I see the problem is because **GitHub treats Open PRs also as issues**. So I think we have to use different API calls while fetching data. I will look into it and revert back if I make any progress.

[2022-10-30 05:11] shivam-Purohit commented on #1197
sorry @jravenel got stuck with college and exams. But I am working on it ,if I could not do it I would unassign myself.

[2022-10-30 06:08] srini047 commented on #1263
Yeah, @jravenel ! You can expect an update from me by EOD (IST).

[2022-10-30 06:21] shivam-Purohit commented on #1197
I have come up with something very primitive. What modification we need to come up in this ?
![Screenshot (94)](https://user-images.githubusercontent.com/91889807/198865425-a271400a-359e-4b09-a3f5-36556cf499cb.png)
and is the formatting alright and suggest changes.

[2022-10-30 06:28] SuhasBRao commented on #1154
I merged the PR you created to the master branch, For some reason, I was not able to access that branch on Naas cloud. I will create a new branch and work on it.

[2022-10-30 07:20] jravenel commented on #1263
@srini047 Good thanks

[2022-10-30 07:57] SuhasBRao commented on #1154
@jravenel I made the necessary changes it seems to work fine, I have triggered an email to jeremy@naas.ai, so that you can test it out easily.

[2022-10-30 19:16] jravenel commented on #100
https://github.com/jupyter-naas/awesome-notebooks/issues/1266#issue-1412381792

@muhtalhakhan following our conversation, I'm referring to your comment here and will close the other issue.
Do you want to work on this with me next week and probably make a Youtube video about it that we can post on socials?

I understood that we can start with the dev account and work from there, then once we have a

[2022-10-30 19:16] #1266 closed

[2022-10-30 19:48] jravenel commented on #1214
Ok @sudojarvis you don't think you can finalize?

[2022-10-30 21:26] Eviaiy commented on #1281
@jravenel  Yes everything is clear

[2022-10-30 23:40] muhtalhakhan commented on #100
Hey J,

I would love to work with you about this for sure. Do let me know when we
can talk about it.

Sure, we can at least start over and get an endpoint then we can make it
available for others through our template.

Regards
Muhammad Talha Khan

On Mon, 31 Oct 2022, 00:16 Jeremy Ravenel, ***@***.***> wrote:

[2022-10-31 08:52] jravenel commented on #1281
cool, just pass this issue to InProgress when you are on it then ;)

[2022-10-31 11:17] ayoub-berdeddouch commented on #1251
@jravenel could you check it and merge if it's good!!

[2022-10-31 11:18] ayoub-berdeddouch commented on #1281
@jravenel can I join?
The access to Gsheet is refused!!

[2022-10-31 11:34] jravenel commented on #1281
@ayoub-berdeddouch as Meriem is on it I don't think it's needed. Don't you want to start template the things we discussed Saturday about market data prediction like oil? or maybe recommender example?

[2022-10-31 11:39] ayoub-berdeddouch commented on #1281
Sure I started some research on it! just wanted to complete the #hacktoberfest 😸 !!
Good luck @Eviaiy 👍🏻

[2022-10-31 12:13] jravenel commented on #579
@ayoub-berdeddouch if you want to help on this today to end hacktoberfest that would be great, tomorrow I plan to do a project with @Dr0p42 where we are going to create a newsletter that could use it. Btw we want to make it livestream if you want to join 2PM-4PM CET.

Can you start working on it today?
Are in interested in the livestream tomorrow?

[2022-10-31 12:58] ayoub-berdeddouch commented on #579
Alright, @jravenel  I will work on it!
For the Livestream, I would be traveling so I could miss it, but if there were a record of it, that would be great!

[2022-10-31 13:52] jravenel commented on #579
Cool! If you think you can make the PR by tonight we will use your template as a base to build the data product tomorrow

[2022-10-31 17:09] srini047 commented on #1263
@jravenel Sorry to say that since I had my GCCP exam scheduled today, it altered all my plans of contributing. But I would like to contribute to the issue even after Hacktoberfest. Is that fine?

Once again, sorry for the inconvenience.

[2022-10-31 20:35] jravenel commented on #1263
of course no problem

[2022-10-31 21:49] jravenel commented on #100
@muhtalhakhan we can work in here if you don't mind. Async is the key to making good progress fast.
Can you draft a first PR? I created the branch

[2022-11-01 00:16] #1251 closed

[2022-11-01 00:29] #1258 closed

[2022-11-01 00:38] #1226 closed

[2022-11-01 00:50] jravenel commented on #1189
Putting the issue back to Backlog as per my comment on the PR, I cannot get any result from the question asked.

[2022-11-01 09:46] jravenel commented on #1264
@eliasdabbas FYI I made the necessary changes because it was not following the framework, I will follow up on deployment later  today or tmwr

[2022-11-01 10:55] eliasdabbas commented on #1264
Thanks for doing it @jravenel, and sorry I didn't get the change to make the changes.

Looking forward to the deployed version!

[2022-11-02 00:35] muhtalhakhan commented on #100
Sure, we are good to go. Give me a day or two as currently I got ill.
Rightnow, resting and doing nothing unless taking meds and eateries only.

Will look into it on Thursday or before that.

On Tue, 1 Nov 2022, 02:49 Jeremy Ravenel, ***@***.***> wrote:

[2022-11-02 07:19] SuhasBRao commented on #1154
Re-opening this issue to review the Updated file on new branch. @jravenel please review  the new PR from a different branch.

[2022-11-02 18:28] jravenel commented on #572
hey @bryan34500 the Issue is yours if you want to take it over.
Here is how to contribute: https://github.com/jupyter-naas/awesome-notebooks#how-to-contribute-
Here is a PR currently in review from @ayoub-berdeddouch where we are getting rid of the unnecessary legacy from the "Send daily prediction to Email template" to focus on the model → https://github.com/jupyter-naas/awesome-notebooks/issues/

[2022-11-02 18:28] jravenel commented on #572
`git fetch origin
git checkout 572-yahoo-finance-commodities-metals-comex-gold`

Branch created :)

[2022-11-02 21:12] jravenel commented on #1258
⚡️ This template has been promoted on:

- my LinkedIn account:
- reposted on Naas's LinkedIn account:
- my Twitter account:
- reposted on Naas's Twitter account:

To let people know how awesome you are, well done @Rayryu

[2022-11-02 22:15] #1189 closed

[2022-11-02 22:28] jravenel commented on #100
Now that HF is in prod :) sky is the limit @muhtalhakhan :)

[2022-11-03 14:35] #579 closed

[2022-11-03 14:53] muhtalhakhan commented on #100
HF = half or have fun here?

I will check it today and let you know. \o/

On Thu, Nov 3, 2022 at 3:28 AM Jeremy Ravenel ***@***.***>
wrote:

[2022-11-03 15:00] jravenel commented on #100
HF: HuggingFace :)

[2022-11-03 15:06] muhtalhakhan commented on #100
Btw when will you be free so that we can have a little video recording to be posted over socials as discussed.

[2022-11-06 11:36] jravenel opened #1288 "H20 - Get started with autoML"
**Describe the problem you are facing**
I want to get started with using H20 in my notebooks.

**Describe the solution you'd like**
A clear and simple template to implement H20 in my notebooks following the IMO framework.

- Input
- Model
- Output

**Additional context**
Here is how to contribute: https://github.com/jupyter-naas/awesome-notebooks#how-to-contribute-

[2022-11-07 05:23] HinaCortus opened #1289 "Notion - Automatic transcribe recording - Add Zoom recording sources"
**Describe the problem you are facing**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Input
- Model
- Output

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-11-07 12:56] jravenel commented on #1289
Hey @HinaCortus, it seems like you did not update the description.
Can you elaborate following the template? thanks

[2022-11-07 13:41] jravenel commented on #1235
@SuhasBRao after discussion internally, we are not going to do it now (not a priority to follow this new process on top of what we are already doing) but we may reopen it later.

[2022-11-07 13:41] #1235 closed

[2022-11-07 13:42] jravenel commented on #1281
Hey @Eviaiy, any progress on this? :)

[2022-11-07 13:43] jravenel commented on #100
Hello @muhtalhakhan, can you please update the links shared today during our call and give me the instructions?
I think I have to open meta account but not sure about the rest.
Thanks

[2022-11-07 13:45] jravenel commented on #1263
Hey @srini047 as you are already on the search project I'll just remove you from this now and put it back to backlog

[2022-11-07 17:56] moe-men commented on #1248
Hey @FlorentLvr
please if still open, assign me this issue

[2022-11-07 21:53] jravenel commented on #1248
@moe-men just added you to the team, you can take this up if you want!

@Sarthak02g are you still interested? Maybe you could help on other issues?

[2022-11-07 22:23] muhtalhakhan commented on #100
Hey @jravenel,

Yeah mentioning the links below:

1. [Facebook Developer](https://developers.facebook.com/docs/whatsapp/cloud-api/get-started)
2. [WhatsApp Business](https://www.facebook.com/business/help/2087193751603668?id=2129163877102343)
3. [Info related to pricing](https://www.sendinblue.com/blog/how-whatsapp-business-api-pricing-works/)
4. [WhatsApp Business Platform - Complete resources](h

[2022-11-07 22:27] #1264 closed

[2022-11-07 22:47] jravenel commented on #100
I think its find, Naas is on linux, do you see any issues @Dr0p42 ?

[2022-11-08 20:20] rudrakshkarpe commented on #1248
Can I work on this issue?

[2022-11-08 21:12] jravenel commented on #1248
@rudrakshkarpe as you can see this is already a busy thread. Can we find other issues to contribute to?

[2022-11-08 21:22] jravenel commented on #1208
@Dr0p42 do you think we can set this up in naas? https://colab.research.google.com/drive/1LzpwMj2sktmQYnpo-Tht0k2p84NXAuAb?usp=sharing

[2022-11-08 21:28] jravenel commented on #1290
@anice1 how are you, still up for this?

[2022-11-14 12:15] jravenel opened #1294 "HubSpot API Key method is not supported anymore"
**Describe the bug**
Hubspot auth method change so we need to update the HS driver

**Screenshots**
<img width="1680" alt="Screenshot 2022-11-14 at 13 13 08" src="https://user-images.githubusercontent.com/21052349/201657344-d93103f5-8c89-4d45-b527-a23c597cb9bc.png">

**Additional context**
Reported by:
- Simon (Prello)
- Derrick Kwa

[2022-11-14 22:35] #1248 closed

[2022-11-15 15:16] #1201 closed

[2022-11-15 16:10] #1213 closed

[2022-11-15 16:30] FlorentLvr opened #1296 "HubSpot - Update templates with new auth method message"
Setup HubSpot
👉 Starting November 30, 2022, HubSpot API keys no longer enable access to HubSpot APIs, so in Naas version 2.8 and above, you need [create a private app and use the access token.](https://developers.hubspot.com/docs/api/private-apps)

[2022-11-16 23:16] jravenel commented on #1189
⚡️ This template has been promoted on:

- my LinkedIn account:
- reposted on Naas's LinkedIn account:
- my Twitter account:
- reposted on Naas's Twitter account:

To let people know how awesome you are @muhtalhakhan

[2022-11-22 16:17] FlorentLvr opened #1297 "Dash Plotly - Upload CSV file from App"

[2022-11-22 16:46] #1297 closed

[2022-11-22 17:59] SunnyChugh99 commented on #1193
Hi @jravenel, i would like to contribute to this issue if still open.

[2022-11-23 14:33] #1296 closed

[2022-11-24 16:56] FlorentLvr opened #1300 "Naas Dashboard - Update design "Financial Consolidation" to match naas V0 + Create boiler plate"

[2022-11-24 17:00] FlorentLvr opened #1301 "Pandas - Check type on series (dataframe columns)"
This condition is very useful to create rules regarding series format

[2022-11-24 17:03] FlorentLvr opened #1302 "Pandas - Fill empty values of dataframe"
#datacleaning

- Input

dict of columns with value to fill
dict_fillna

- Model

df = df.fillna(dict_fillna)

- Output

df

[2022-11-24 17:05] FlorentLvr opened #1303 "Pandas - Rename multiples columns in dataframe"
#datacleaning

- Input

dict of columns to rename with new value
to_rename

- Model

df = df.rename(columns=to_rename)

- Output

df

[2022-11-24 17:07] FlorentLvr opened #1304 "Pandas - Drop multiples columns in dataframe"
#datacleaning

• Input

list of columns to drop
to_drop = []

• Model

df = df.drop(to_drop, axis=1)

• Output

df

[2022-11-24 17:08] FlorentLvr opened #1305 "Pandas - Keep columns in dataframe"
#datacleaning

• Input

list of columns to keep
to_keep = []

• Model
function to check if columns exists in df
df = df[to_keep]

• Output

df

[2022-11-27 18:22] muhtalhakhan commented on #1189
Thank you @jravenel B)

[2022-11-27 18:24] muhtalhakhan commented on #100
Hey @jravenel ,
@Dr0p42 have not replied to your comment above!

Looking forward for all the requisites to be completed.

[2022-11-28 05:39] Dr0p42 commented on #100
Hello @muhtalhakhan, Docker + Linux is fine for us 👍

[2022-11-28 09:59] #1305 closed

[2022-11-28 10:27] #1304 closed

[2022-11-28 10:31] FlorentLvr opened #1309 "Pandas - Drop Duplicate Columns in Pandas"
Template to be duplicated in awesome notebooks "[Pandas_Drop_First_Column.ipynb](https://github.com/jupyter-naas/awesome-notebooks/blob/master/Pandas/Pandas_Drop_First_column.ipynb)"

Reference: https://www.statology.org/pandas-drop-duplicate-columns/

[2022-11-28 10:32] FlorentLvr opened #1310 "Pandas - Drop Columns by Index"
Template to be duplicated in awesome notebooks "[Pandas_Drop_First_Column.ipynb](https://github.com/jupyter-naas/awesome-notebooks/blob/master/Pandas/Pandas_Drop_First_column.ipynb)"

Reference: https://www.statology.org/pandas-drop-column-by-index/

[2022-11-28 13:29] jravenel commented on #1310
What do you mean by duplicated @FlorentLvr? == use the article mentionned above to create the template or duplicate another template?

[2022-11-28 13:44] FlorentLvr commented on #1310
Use the template mentionned above to kick start the new template because it's the same logic, tags... etc

[2022-11-28 22:17] jravenel opened #1311 "Astria - Create subject driven image with AI"
**Describe the problem you are facing**
Create subject-driven image with : https://www.strmr.com/api/docs

**Describe the solution you'd like**

- Input: array of images URL, subject
- Model: run model
- Output: link of images that can be opened inline (in the browser) with naas asset link

[2022-11-28 22:18] jravenel commented on #1311
@njgroene I found this on the web, are you familiar with this? cf your everyme data product?

[2022-11-28 23:53] jravenel commented on #1193
@SunnyChugh99 sorry for the late reply it slipped through me. You can do it.
Here is how to contribute: https://github.com/jupyter-naas/awesome-notebooks#how-to-contribute-

[2022-11-29 08:08] FlorentLvr commented on #1202
Hi @devgenix! Hope you are doing well? Did you work on this issue? Do you need any help?
As no PR is open for this issue, I will move the issue to "Ready" 🙏

[2022-11-29 08:12] FlorentLvr commented on #1261
@jravenel, I think you missed the last comment of @SuhasBRao ! The proposition seems good. Do you agree ?

[2022-11-29 08:13] FlorentLvr commented on #1281
@Eviaiy, just checking ? Do you make progress on this one?

[2022-11-29 08:24] #1154 closed

[2022-11-29 08:28] FlorentLvr commented on #1280
@techgoddess1, hope you are doing well :)! Do you need any support on this one? Let me know, I will be happy to help 😄 🙏

[2022-11-29 08:34] FlorentLvr commented on #572
Hi @bryan34500, hope you are doing well ? Do you need any help?

[2022-11-29 08:36] FlorentLvr commented on #1209
@Dr0p42, @jravenel, is it fixed now? I am not sure to understand what's the issue. Can you explain a bit more?

[2022-11-29 08:42] FlorentLvr commented on #1203
@jravenel, I think we should keep it that way because in Pandas we should have all notebooks to manipulate tables which is super usefull for a user coming from Excel. This is something we need to highlight for our business user. Do you agree?

[2022-11-29 08:47] FlorentLvr commented on #1159
@jravenel, this templates has been created and merged in master: https://github.com/jupyter-naas/awesome-notebooks/blob/master/Dash/Dash_Create_Datatable_With_Dropdown.ipynb
All good :)

[2022-11-29 09:07] jravenel commented on #1203
Yes makes sense @FlorentLvr I get your point

[2022-11-29 09:07] #1203 closed

[2022-11-29 10:39] #1302 closed

[2022-11-29 10:58] jravenel commented on #572
@FlorentLvr @bryan34500 is out for the moment, for paternity. Got him a few weeks ago.
We can assign it to other contributors.

[2022-11-29 11:00] #1303 closed

[2022-11-29 11:02] FlorentLvr opened #1314 "Pandas - Groupby and Aggregate a dataframe"

[2022-11-29 15:51] muhtalhakhan commented on #100
Hey @Dr0p42 thats great!

@jravenel have you done with the requisites of it?

[2022-11-30 11:09] #1314 closed

[2022-11-30 11:43] FlorentLvr commented on #1314
@jravenel, this is a very basic notebook but super usefull => basically how to create dynamic table (Excel like) in Pandas/Python !

[2022-11-30 16:08] ElkanemiProf opened #1317 "Security camera using Beautiful soup"
**Describe the problem you are facing**
A clear and concise description of what the problem is. Ex. I find it unfair when employees try to play smart by playing truancy at work.
Some people come to work, sign their attendance register,  and then go somewhere else that is not work related and from there perhaps go home. This reduces productivity and a lot of man-hour is lost.

**Describe the soluti

[2022-11-30 23:06] jravenel opened #1318 "GitHub - Create leaderboard of contributors"
**Describe the problem you are facing**
Create a leaderboard of all the contributors and the points they have win via contributions.
We made a v0 we would like to resurect.

Contact me if you are interested to learn more.
![Screenshot 2022-12-01 at 00 04 11](https://user-images.githubusercontent.com/21052349/204927061-acb70d08-c04c-4e3a-929c-d329adef368c.png)

[2022-11-30 23:07] jravenel commented on #1318
@SuhasBRao following our conversation by email, here is the issue :)